#.coveragerc to control coverage.py

[run]
source = .
omit = 
    denv/*
    *denv/bin/*
    *denv/lib/*
    *manage.py
    *urls.py
    *wsgi.py
    *asgi.py
    *settings.py
    *conftest.py
    *real_estate/*
    *migrations/*
    *__pycache__/*
    *__init__*
    */site-packages/*
    *tests/*
    *denv/*


[report]
show_missing=True
skip_covered=False